<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Deskripsi Organisasi</title>
</head>
<body>
    <h1>Edit Deskripsi Organisasi</h1>
    <form method="post" action="/organisasi/update_deskripsi">
        <label for="deskripsi">Deskripsi:</label><br>
        <textarea id="deskripsi" name="deskripsi" rows="10" cols="50">{{ .Organisasi.Deskripsi }}</textarea><br><br>
        <button type="submit">Simpan Perubahan</button>
    </form>
</body>
</html>
